.app___footer{
    height: 100%;
    background: var(--color-bg);
    color: var(--color-white);
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    padding: 1rem 0;
    text-align: center;
    font-size: 1.2rem;
}

.app___footer p {
    margin-bottom: 0;
}

.app___footer a:hover {
    color: var(--color-blue);
}

.app__footer-copy {
    cursor: pointer;
    font-size: 0.8rem;
    margin-bottom: 1.2rem;
    margin-bottom: 0;
}

.app__footer-copy span {
    color: var(--color-blue);
}

@media screen and (max-width: 768px) {
    .app___footer{
        flex-direction: column;
        line-height: 2rem;
    }
}